.h2 {
    font-size: 36px;
    font-weight: 500;
    color: var(--color-primary);
    margin: 0;
}

.center {
    text-align: center;
}

@media (max-width: 900px) {
	.h2 {
        font-size: 18px;
    }
}