.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;

	& .main {
		padding: 40px 75px;
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 950px) {
	.layout {

		& .main {
			padding: 0 20px;
		}
	}
}

@media (max-width: 360px) {
	.layout {

		& .main {
			padding: 0 10px;
		}
	}
}

@media (max-width: 330px) {
	.layout {

		& .main {
			padding: 0 5px;
		}
	}
}
