.tag {
  background-color: var(--color-primary);
  color: var(--color-white);
  height: 25px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  margin: 10px 2px;

  &:first-child {
    margin-left: 0;
  }
}